<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallv.stock.repository.CompanyDao">
    <insert id="insertCompany" parameterType="CompanyDto">
        INSERT INTO company
        VALUES (#{srtnCd},#{itmsNm},#{lstgStCnt},#{mrktCtg},#{crno})
    </insert>

    <update id="updateCompanyOnlyCrno" parameterType="CompanyDto">
        UPDATE company
        SET crno=#{crno}
        WHERE srtn_cd=#{srtnCd}
    </update>
</mapper>